@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
 
body{
    background-color:  #131111;
}
/*-----------------------------BUTTON--------------------------------*/

.submit_btn {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.submit_btn {
    margin: 15px;
    padding: 8px 36px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 15px;
    display: block;
 }

.submit_btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}

.form__group {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 50%;
    flex-direction: column;
    align-items: stretch;
}
.form__field {
    margin: 15px;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.resultString{
    margin-top: 20px;
    color: white;
}

/* demo */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #222;
}
 h1 {
	 position: relative;
	 font-family: 'Exo';
	 font-size: 4em;
	 margin-top: 16px;
	 transform: skew(-15deg);
	 letter-spacing: 0.03em;
}
 h1::after {
	 content: '';
	 position: absolute;
	 top: -0.2em;
	 right: 0.05em;
	 width: 0.4em;
	 height: 0.4em;
	 background: radial-gradient(white 3%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.05) 60%, transparent 80%), radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%, radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
	 background-repeat: no-repeat;
}
 h1 span:first-child {
	 display: block;
	 text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black, 0 0 5em #165ff3;
	 -webkit-text-stroke: 0.06em rgba(0, 0, 0, 0.5);
}
 h1 span:last-child {
	 position: absolute;
	 left: 0;
	 top: 0;
	 background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
	 -webkit-text-stroke: 0.01em #94a0b9;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}
 h2 {
	 font-family: 'Mr Dafoe';
	 margin: 0;
	 font-size: 3em;
	 margin-top: -2em;
	 color: white;
	 text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
	 transform: rotate(-12deg);
     letter-spacing: 0.25em;
}
 